

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ysabeau SC', sans-serif;;
}

body{
    width: 100%;
    height: 100vh;
    background-image:url('images/bg.png');
    background-position: center;
    background-size: cover;
    display:flex; flex-direction:column; 
    
}

nav{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1{
    font-size: 55px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-left: 73px;
}

.menu ul{
    display: flex;
    list-style: none;

}

.menu a{
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 3px;
    padding: 6px 10px;
    color: black;
    font-weight: bold;
    border-radius: 10%;
    margin-left: 15px;
}

.menu a:hover{
    background-color:#8B7862;
    transition: 1s;
}

.hire a{
    text-decoration: none;
    padding:12px 18px;
    font-size: 22px;
    letter-spacing: 3px;
    color:black;
    background-color:#e8b923;
    border-radius: 15%;
    margin-right: 5px;
}

.main{
    padding-top: 200px;
    text-align: center;
    flex: 1;
    
}

.main h1{
    font-size:55px;
    word-spacing: 4px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    width: 800px;
    margin-left: 343px;
    margin-bottom: 8px;
}

.main p{
    width:600px;
    font-size: 16px;
    word-spacing: 3px;
    margin-left: 450px;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}


#see{
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-size: 25px;
    padding:10px 30px;
    border-radius: 30px;
    background-color: white;
}

#see:hover{
    background-color: darkgray;
}

footer {
    background-color: #333;
    color: #fff;
    padding:15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

